<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.mapper.UserMapper">
    <select id="getList" resultMap="userorders">select u.*,o.oid,o.address from user u inner join orders o on u.id=o.user_id</select>
    <resultMap id="userorders" type="UserOrders">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="list" ofType="orders">
            <id property="oid" column="oid"/>
            <result property="address" column="address"/>
        </collection>
    </resultMap>
</mapper>